.img-carrito{
    width: 180px;
    height: 180px;
    border-radius: 25%;
    margin-top: 20px;
}

.divBtnCart{
    margin-bottom: 5px;
}

.divResume{
    margin: 5px 5px;
}

.divCartItem{
    margin: 0px auto;
}