
.cardDiv {
    margin: 8px;
}
.card-body p{
    margin: 10px auto;
}
.card-body img {
    margin: 0 15px;
    margin-bottom: 10px;
    height: 140px;
    width: 140px;
}

.divInfoCounter{
   display: flex;
}
.divInfoCounter p {
    margin: 8px auto;
}
.divBtn {
    display: flex;
    justify-content: space-around;
}
.divBtnConfirmar {
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.DivItemDetailContainer{
    display: flex;
    margin: 10px auto;
    justify-content:flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

.DivItemDetail {
    margin: 8px;
}

.divImgDetail img{
    width: 280px;
    height: 280px;
}