
.divItemList {
    margin-top: .8rem;
    display: grid;
    column-gap: 1.1rem;
    row-gap: 2.2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}





.cardDiv {
    margin: auto;
}
.card-body p{
    text-align: center;
    margin: 10px auto;
}

.card-header{
    text-align: center;
}

.card-body img {
    margin: 0 15px;
    margin-bottom: 10px;
    height: 140px;
    width: 140px;
}


 


.divInfoCounter{
   display: flex;
}
.divInfoCounter p {
    margin: 8px auto;
}
.divBtn {
    display: flex;
    justify-content: space-around;
}

.divBtnConfirmar {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}




.DivItemDetailContainer{
    display: flex;
    margin: 10px auto;
    justify-content:center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.DivItemDetail {
    margin: 8px;
}

.divImgDetail{
    display: flex;
}
.divImgDetail img{
    margin: auto;
    width: 240px;
    height: 240px;
}

