*{
font-family: 'Montserrat', sans-serif;
}

.DivItemList {
    display: flex;
    margin: 10px auto;
    justify-content:flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}
.btn-comprar{
    text-decoration: none;
    color: #aaa;
}
.btn-comprar:hover{
    text-decoration: none;
    color: #fff;
}